.sh-logo {
  .md {
    font-size: $md-size;
  }
  .xxs {
    font-size: $xxs-size;
  }
  .xs {
    font-size: $xs-size;
  }
  .sm {
    font-size: $sm-size;
  }
  .lg {
    font-size: $md-size;
  }
  .xl {
    font-size: $xl-size;
  }
  .xxl {
    font-size: $xxl-size;
  }
  .xxxl {
    font-size: $xxxl-size;
  }
  .xxxxl {
    font-size: $xxxxl-size;
  }
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
  .center {
    text-align: center;
  }
  .red {
    color: $red;
  }
  .blue {
    color: $blue;
  }
  .indigo {
    color: $indigo
  }
  .green {
    color: $green;
  }
  .primary {
    color: $primary
  }
  .white {
    color: $white
  }
  .black {
    color: $black;
  }
}
