<div>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-hover">
    <thead>
    <tr>
      <th class="th-lg" *ngFor="let head of table?.thead">
        {{head}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let body of table?.tbody" (click)="table.rowClick ? table.rowClick($event, body.row) : ''">
      <td *ngFor="let data of body?.data">
        <div *ngIf="!data.type">
          {{data}}
        </div>
        <div *ngIf="data?.type === 'image'">
          <img [src]="data?.src" [alt]="data?.alt" [class]="data?.classes">
        </div>
        <div *ngIf="data?.type === 'button'">
          <button [class]="'btn sh-btn sh-btn--small br-none ' + data?.classes"
                  [class.sh-btn--red]="data.content === 'inactive'"
                  [class.sh-btn--green]="data.content === 'active'">
            {{data.content}}
          </button>
        </div>
        <div *ngIf="data?.type === 'date'">
          {{data.date | date:'medium'}}
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
